//- Variables
- var title = 'Test for sound recording'

//- HTML
doctype html
html(lang='en')
    meta(charset="utf-8")
    title #{title}
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width')
    link(rel="stylesheet", href="main.css")
body
    h1 #{title}
    script(src='bundle.js', type='text/javascript')
