// Stop flex warning while using postcss
// https://github.com/tj/nib/issues/312
flex-version = flex
support-for-ie = false
vendor-prefixes = official

@import 'nib'
@import 'pages/_common'

global-reset()

*
  box-sizing: border-box

html, body, ul, h2, h3, hr, p, hr
  -webkit-margin-before: 0
  -webkit-margin-after: 0

html, body
  color: _keyColor
  background: #FFF
  font-family: 'Questrial', 'Rounded Mplus 1c', sans-serif
  font-size: 12px

p
  line-height: 2em

nav.mobile
  position: fixed
  width: 100%
  padding: 15px

  /#info-button
    position: absolute
    width: 40px
    height: 40px
    right: 0
    background: url(images/sp/info_button_white.svg) no-repeat center/50%
    /.text-mode #info-button
      background-image: url(images/sp/info_button_orange.svg)

  /#makeface-button
    position: absolute
    width: 66px
    height: 40px
    left: 50%
    transform: translate(-50%, 0)
    background: url(images/sp/addyourself_white.svg) no-repeat center/50%
    /.text-mode #makeface-button
      background-image: url(images/sp/addyourself_orange.svg)

  /#mode-button
    position: absolute
    width: 40px
    height: 40px
    left: 0
    background: url(images/sp/modeswitch_white.svg) no-repeat center/50%
    color: #fff
    span
      position: absolute
      margin: 22px 0px 0px 34px
    /.text-mode #mode-button
      background-image: url(images/sp/modeswitch_orange.svg)
      color: _keyColor

nav.pc
  position: absolute
  left: 210px
  right: 210px
  height: 86px
  .center
    position: absolute
    width: 100%
    // height: 100%
    bottom: 0
    text-align: center
    h1
      position: relative
      bottom: 0
      font-size: 30px
      letter-spacing: 0.2em
  .right
    position: absolute
    bottom: 0
    right: 0
    font-size: 10px
    letter-spacing: 0.5em
  .left
    position: absolute
    bottom: -2px
    width: 183px
    height: 22px
    background: url(images/pc/ADD_YOURSELF_PC.svg) no-repeat center/100%

footer
  position: absolute
  bottom: 0
  &.mobile
    width: 100%
  &.pc
    margin: 0 210px
    height: 90px
    width: calc(100% - 420px)
    .mode
      display: flex
  
  .button.keyboard
    width: (98/2)px
    height: (74/2)px
    background: url(images/sp/key.svg) no-repeat center/100%
    margin: 16px auto
    text-align: center
  .share
    position: absolute
    display: flex
    align-items: center
    &.mobile
      bottom: 14px
      right: 10px
    &.pc
      top: -26px
      right: -8px
    .facebook
      width: 25px
      height: 25px
      background: url(images/sp/facebook.svg) no-repeat center/40%
    .twitter
      width: 25px
      height: 25px
      background: url(images/sp/twitter.svg) no-repeat center/90%
    .vline
      width: 0px
      height: 20px
      margin: 0 5px 0 5px
      border: 1px _keyColor
      border-style: none solid none none
    span
      display: block
      margin: 10px 0 0 0
  .copyright
    position: absolute
    margin: auto
    left: 0
    right: 0
    bottom: 47px
    text-align: center
    font-size: 10px
  .round-button
    width: 127px
    height: 20px
    margin-right: 8px
    
    line-height: 20px
    text-align: center
    font-size:9px
    letter-spacing: 0.5em
    font-family: 'Futura-Medium', 'Futura'
    
    border-radius: 6px
    border: 1px solid
    
    &:hover
      opacity: 1 // disable global
    &.red
      border-color: _keyColor
      color: _keyCollor
      &:hover
        background-color: _keyColor
        color: #FFF
    &.green
      border-color: _greenColor
      color: _greenColor
      &:hover
        background-color: _greenColor
        color: #FFF
    
/.speak-mode footer
  display: none

#app-morph
  position: fixed
  overflow: hidden
  width: 100%
  height: 100%
  // background-color: rgba(0,0,0,1)
      
#main
  box-sizing: content-box
  position: fixed
  overflow: hidden
  user-select: none
  &.mobile
    width: 100%
    height: 100%
  &.pc
    margin: 118px 210px
    width: calc(100% - 420px)
    height: calc(100% - 236px)
  
  canvas
    position: absolute
    &.webgl
      top: 0
      bottom: 0
      left: 0
      right: 0
    &.ui
      width: 100%
      top: 50px
      bottom: 0
      height: calc(100% - 50px)


#text-log
  position: absolute
  &.mobile
    left: 15px
    bottom: 80px
  &.pc
    left: 15px
    bottom: 80px
  .input-log
    margin: 10px 0 0 0
    color: _keyColor
    font-family: 'PixelMplus12'
    // remove background
    background-color: rgba(0,0,0,0)
    outline: none
    border-style: none

@require 'pages/info'
@require 'pages/makeface'
@require 'pages/loading'
