//- Variables
- var title = 'Webcam test'

//- HTML
doctype html
html(lang='en')
    meta(charset="utf-8")
    title #{title}
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width shrink-to-fit=no')
    link(rel="stylesheet", href="main.css")
body
    video#video(playsinline)
    canvas#canvas
    buttion#startButton Push to Start
    script(src='bundle.js', type='text/javascript')
