//- only pc
.cross-frame(v-if='!isMobile')
  //- cross
  svg(width='29px' height='29px' style='top:0; left:0;')
    path(d='M15 0L15 29M0 15L29 15')
  svg(width='29px' height='29px' style='top:0; right:0;')
    path(d='M15 0L15 29M0 15L29 15')
  svg(width='29px' height='29px' style='bottom:0; left:0;')
    path(d='M15 0L15 29M0 15L29 15')
  svg(width='29px' height='29px' style='bottom:0; right:0;')
    path(d='M15 0L15 29M0 15L29 15')
  //- line
  svg(width='29px' height='120px' style='left:0; top:50%; transform:translate(0, -60px);')
    path(d='M15 0L15 120')
  svg(width='29px' height='120px' style='right:0; top:50%; transform:translate(0, -60px);')
    path(d='M15 0L15 120')
  svg(width='120px' height='29px' style='left:50%; top:0; transform:translate(-60px, 0);')
    path(d='M0 15L120 15')
  svg(width='120px' height='29px' style='left:50%; bottom:0; transform:translate(-60px, 0);')
    path(d='M0 15L120 15')