_keyColor = #ed3a24

@font-face
  font-family: 'PixelMplus12'
  src: url('fonts/PixelMplus12.ttf') format('truetype')

html.mobile .pc-only
  display: none

html.no-mobile .mobile-only
  display: none

.no_touch
  pointer-events: none

@keyframes fade_in
  0%
    display: none
    opacity: 0
  1%
    display: block
    opacity: 0
  100%
    display: block
    opacity: 1

@keyframes fade_out
  0%
    display: block
    opacity: 1
  99%
    display: block
    opacity: 0
  100%
    display: none
    opacity: 0

.hbox
  display: flex 

.hidden
  display: none
  opacity: 0

.fade
  display: block
  opacity: 1
  animation: fade_in 0.5s ease
  animation-fill-mode: forwards

.fade.hidden
  animation: fade_out 0.5s ease

.futura
  font-family: 'Futura', sans-serif

.button
  display: block
  cursor: pointer
  transition: background-color 0.3s ease
  &:hover, $:active
    opacity: 0.5

.close-button
  width: 20px
  height: 20px
  svg
    fill: none
    stroke: _keyColor
    stroke-width: 1