
section#about.modal.hidden
    h2 About
    p Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text Sample Text 
    #share-twitter.button Share Twitter
    #share-facebook.button Share Facebook
    .button.close-button Close
