
#info(v-if='showInfo' v-bind:class="{ 'mobile':isMobile, 'pc':!isMobile }")
  .content
    section#howtoplay
      h2.howtoplay HOW TO PLAY
      hr.mini
      div(v-if='isMobile')
        p タップでひらがなを発音し、
          br
          | 端末を傾けることで顔をモーフィングさせることができます。
          | 下記2つのモードで遊ぶことができます。
        .figure.textmode
        .figure.speakmode
  
        .icon.makeface
        p.description 上記アイコンから、自分の顔を読み込ませて遊ぶことができます。

      div(v-if='!isMobile')
        p 画面内でマウスを移動させると、別の顔へモーフィング。
          br
          | 顔のパーツをドラッグしたりすると、エフェクトが使用できます。
          br
          | 下記のように50音を発音させたり、
          br
          | テキストを入力・再生することも可能です。
        .figure.typeinfo
        p.description また、自分の顔を読み込ませて遊ぶことができます。

      
      .columns
        //- webカメラでの体験方法
        .column.webcam
          .icon.icon-webcam
          p.description webカメラでの体験方法
          .vline
          .screenshot
            img(v-bind:src="'images/' + (isMobile ? 'sp' : 'pc') + '/howto/1.svg'")
          p.description TOPページで 
            br
            | ADD YOURSELFを選択
          .vline
          .screenshot
            img(v-bind:src="'images/' + (isMobile ? 'sp' : 'pc') + '/howto/c2.svg'")
          p.description {{isMobile ? 'From in-cam' : 'From WebCam'}}
            br
            | を選択
          .vline
          .screenshot
          p.description カメラの使用を許可
          .vline
          .screenshot
            img(v-bind:src="'images/' + (isMobile ? 'sp' : 'pc') + '/howto/c4.svg'")
          p.description 表示されたガイドに顔を合わせる
          .vline
          p.description 認識されると体験開始

        //- 既存の画像での体験方法
        .column.cameraroll
          .icon.icon-photo
          p.description 既存の画像での体験方法
          .vline
          .screenshot
            img(v-bind:src="'images/' + (isMobile ? 'sp' : 'pc') + '/howto/1.svg'")
          p.description TOPページで 
            br
            | ADD YOURSELFを選択
          .vline
          .screenshot
            img(v-bind:src="'images/' + (isMobile ? 'sp' : 'pc') + '/howto/p2.svg'")
          p.description From Photo
            br
            | を選択
          .vline
          .screenshot
            img(v-bind:src="'images/' + (isMobile ? 'sp' : 'pc') + '/howto/p3.svg'")
          p.description 画像の準備
          .vline
          .screenshot
            img(v-bind:src="'images/' + (isMobile ? 'sp' : 'pc') + '/howto/p4.svg'")
          p.description 画像ファイルを
            br
            | クリックして選択
          .vline
          p.description 顔認識されると体験開始
    
    hr.mini
    section#credit
      h2.credit CREDIT
      hr.mini
      .profile
        img
        .right
          .job Planner
          .name Yudai Kogawa
          .company invisible designs lab
      .profile
        img
        .right
          .job Designer
          .name Tsuyoshi Otabe 
          .company invisible designs lab
      .profile
        img
        .right
          .job Engineer
          .name Koki Ibukuro
          .company dot by dot inc.
      .invisi
        span(v-if="!isMobile") presented by
        .logo
        p.description 大切なものは見えない。見えないものには大きな価値があります。
          br
          | アイディアやイマジネーション、インスピレーション。
          br
          | それらを見える形や新しい形で表現していく、音を軸としたクリエイティブチーム。
        a(v-if="!isMobile" href='https://invisi.jp/' target='_blank') https://invisi.jp/
      
  .menu(v-bind:class="{ 'mobile':isMobile, 'pc':!isMobile }")
    .button.close-button(v-on:click='infoShowClick(false)')
      include parts/button-close
    ul(v-if='isMobile')
      li
        a(href='#howtoplay') HOW TO PLAY
      li /
      li
        a(href='#credit') CREDIT
    
