_infoMenuHeight = 68px
_images = '../public/images'
_imagesSp = pathjoin(_images, 'sp')
_imagesPc = pathjoin(_images, 'pc')

#info
  position: fixed
  width: 100%
  top: 0
  bottom: 0
  overflow: scroll
  &.mobile
    background: #fff
    .content
      margin: _infoMenuHeight 15px 15px 15px
    h2
      font-size: 30px
      letter-spacing: 0.1em
    hr.mini
      display: block
      width: 10px
      height: 1px
      margin: 20px 0 20px 0
      background-color: _keyColor
      border: 0
  &.pc
    background: #3c3c3c
    color: #FFF
    border: 2px solid #FFF
    text-align: center
    .content
      width: 568px
      margin: 80px auto
    h2
      margin: auto
      white-space: nowrap
      font-size: 24px
      letter-spacing: 0.2em
      border-bottom: 1px solid #FFF
      &.howtoplay
        width: 208px
        margin-bottom: 60px
      &.credit
        width: 108px
        
      
    hr.mini
      display: none

  
  
  .menu
    position: fixed
    top: 0
    display: flex
    align-items: flex-end
    &.mobile
      width: 100%
      height: _infoMenuHeight
      left: 0
      padding: 15px
      background: #fff
    &.pc
      top: 40px
      right: 36px
        
    ul
      display: flex
      margin: 0 0 0 18px
    li
      margin: 0 6px 0 0
    a
      text-decoration: none
      color _keyColor

  //----------------------
  // How to play
  //----------------------

  .figure
    margin: 44px auto 0 auto
    &.textmode
      img = image-size(pathjoin(_imagesSp, 'howto_textmode.jpg'))
      width: (img[0]/2)
      height: (img[1]/2)
      background: url(images/sp/howto_textmode.jpg) no-repeat center/100%
    &.speakmode
      img = image-size(pathjoin(_imagesSp, 'howto_speakmode.jpg'))
      width: (img[0]/2)
      height: (img[1]/2)
      background: url(images/sp/howto_speakmode.jpg) no-repeat center/100%
    &.typeinfo
      width: 215px
      height: 144px
      margin: 44px auto 70px auto
      background: url(images/pc/how_to_type_info.svg) no-repeat center/100%

  .icon.makeface
    width: 66px
    height: 40px
    margin: 44px auto 0 auto
    background: url(images/sp/addyourself_orange.svg) no-repeat center/50%
    
  .columns
    display: flex
    justify-content: center
    text-align: center

.mobile
  .column
    width: 160px
    margin: 0 10px

    .description
      font-size: 12px
      margin: 10px 0 0 0

    .screenshot      
      width: 110px
      height: 166px
      margin: auto
      background: url(images/dummy.png) no-repeat center
      img
        width: 110px
        height: 166px

    .icon
      width: 87px
      height: 87px
      margin: auto
    .icon-webcam
      background: url(images/sp/from_incam_orange.svg) no-repeat center/100%
    .icon-photo
      background: url(images/sp/from_photo_orange.svg) no-repeat center/100%  
  .vline
    width: 1px
    height: 34px
    background-color: _keyColor
    margin: 14px auto

.pc
  .column
    width: 166px
    margin: 60px 25px

    .description
      font-size: 12px
      margin: 10px 0 0 0

    .screenshot      
      width: 166px
      height: 115px
      margin: auto
      background: url(images/dummy.png) no-repeat center
      img
        width: 166px
        height: 115px

    .icon
      width: 124px
      height: 124px
      margin: auto
    .icon-webcam
      background: url(images/pc/from_camera_icon.png) no-repeat center/100%
    .icon-photo
      background: url(images/pc/from_file_icon.png) no-repeat center/100%  
  .vline
    width: 1px
    height: 52px
    background-color: #fff
    margin: 25px auto

//----------------------
// Credit
//----------------------

.mobile
  #credit
    .center
      text-align: center
      margin: auto
    video
      display: block
      width: 223px
      height: 223px
      margin: auto
    .profile
      width: 223px
      margin: 15px auto 0 auto
      display: flex
      flex-flow: column nowrap
      justify-content: flex-end
      font-size: 11px
      text-align: left
      div
        margin: 4px 0 0 0
      .name
        font-size: 22px
    .invisi
      margin: 100px 10px
      .logo
        width: 266px
        height: 67px
        background: url(images/sp/invisi_logo.svg) no-repeat center/100%
      a
        display: block
        margin: 14px 0 0 0
        &:visited
          color: _keyColor
.pc
  #credit
    video
      width: 360px
      height: 360px
      margin: 20px 0 0 0
    .profile
      width: 360px
      display: flex
      margin: 10px auto 0 auto
      display: flex
      flex-flow: column nowrap
      justify-content: flex-end
      font-size: 11px
      text-align: left
      div
        margin: 4px 0 0 0
      .name
        font-size: 22px
    .invisi
      width: 360px
      margin: 100px auto
      font-size: 10px
      text-align: left
      .logo
        width: 266px
        height: 67px
        background: url(images/pc/invisi_logo.svg) no-repeat center/100%
      a
        display: block
        margin: 60px 0 0 0
        text-decoration: none
        &:visited
          color: #fff
      
