#loading
  .container
    .fade.hidden.mobile-only
      h1.futura MoFace
    .progress
      .bar
    .fade.hidden.mobile-only
      .button.futura ENTER
      p このサイトでは音が出ます。
        br
        | volumeをあげてお楽しみください。