#loading
  .container.mobile-only
    .logo.hidden
    .progress
      .bar
    .loading.futura loading...
    .hidden
      .button.futura ENTER
      p このサイトでは音が出ます。
        br
        | volumeをあげてお楽しみください。
  .container.pc-only
    svg(viewBox='0 0 508 508')
      circle(cx='254' cy='254', r='252')