
section#makeface.modal.hidden
  .makeface-icon
  h3 ADD YOUR SELF
  .vcenter
    #capture-button.button.big-button
      .icon
      span From in-Camera
    #cameraroll-button.button.big-button
      .icon
      span From Photo
  .legal.button.round-button > 画像使用に関する免責事項 <
  .button.close-button
    include parts/button-close

section#makeface-capture.modal.hidden
  .preview
    canvas#makeface-canvas
    canvas#makeface-overlay
  .overlay
    .makeface-icon
    svg.guide(viewBox='0 0 512 512')
      ellipse(cx='256' cy='256' rx='120' ry='160')
    p.guide 顔を正面に向け、
      br
      | 枠内に合わせてください
  .button.close-button
    include parts/button-close

section#makeface-confirm.modal.hidden
  .preview
  .overlay
    .makeface-icon
    .vcenter
      p これで良いですか？
      .ok-button.button OK
      .retake-button.button RETRY
  

section#makeface-retry.modal.hidden
  .preview
  .overlay
    p 顔認識に失敗しました。他の写真をお試し下さい。
    #retake-button.button RETRY