section.modal
  position: fixed
  top: 0
  text-align: center
  color #FFF
  width: 100%
  height: 100%  
  .container
    overflow: hidden
  &.mobile
    background-color: rgba(0,0,0,70%)
    h3
      font-size: 12px
      letter-spacing: 0.2em  
  &.pc
    background-color: #fff
    .container
      position: absolute
      top: 118px
      bottom: 118px
      left: 210px
      right: 210px
      background-color: _keyColor
    h3
      font-size: 24px
      letter-spacing: 0.2em  
      margin: 74px 0 20px 0
      
  
  .close-button
    position: fixed
    top: 15px
    left: 15px
    svg
      stroke: #fff
  
  .back-to-top-button
    position: absolute
    width: 110px
    height: 32px
    bottom: 0
    left: 50%
    transform: translate(-55px, -60px)
    background: url(images/pc/back_to_top.svg) no-repeat center/100%
    

  .makeface-icon
    width: 33px
    height: 22px
    background: url(images/sp/addyourself_white.svg) no-repeat center/100%
    margin: 15px auto 20px auto
  
  .preview, .overlay
    position: absolute
    top:0
    left:0
    width: 100%
    height: 100%
    // override color
  .preview
    background-color: #000  
  .preview canvas, .preview .result-img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%) scaleX(-1)
    width: auto
    height: auto
  .preview .result-img
    // show 1024x1024 texture
    transform: translate(-50%, -50%) scaleX(-1.5)
  
//----------------------
// Makeface
//----------------------
.vcenter
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center


#makeface
  p
    letter-spacing: 0.2em
  &.mobile
    .button
      margin: 23px 0
      span
        display: block
        margin: 12px 0 0 0
        font-size: 10px
        letter-spacing: 0.2em
    .icon
      width: 106px
      height: 106px
      margin: auto  
    #capture-button .icon
      background: url(images/sp/from_incam_white.svg) no-repeat center/100%
    #cameraroll-button .icon
      background: url(images/sp/from_photo_white.svg) no-repeat center/100%
  &.pc
    .icon
      width: 124px
      height: 124px
      margin: 18px  
    #capture-button .icon
      background: url(images/pc/from_camera_icon.png) no-repeat center/100%
    #cameraroll-button .icon
      background: url(images/pc/from_file_icon.png) no-repeat center/100%
    .vcenter
      flex-direction: row
    
  .legal
    position: absolute
    width: 188px
    height: 20px
    bottom: 54px
    left: 50%
    font-size: 10px
    letter-spacing: 0.1em
    transform: translate(-50%, 0)
    border-radius: 6px
    border: 1px solid #fff
    line-height: 20px
    /.pc .legal
      bottom: 74px

//----------------------
// Capture
//----------------------

#makeface-capture
  .overlay
    background-color: rgba(0, 0, 0, 30%)
    p
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      font-size: 8px
  svg.guide
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    fill: none
    stroke: #FFF
    stroke-width: 1
    stroke-dasharray: 10 10
  
//----------------------
// Confirm
//----------------------

#makeface-confirm, #makeface-retry
  .overlay
    background-color: rgba(0, 0, 0, 30%)
  .vcenter
    .button
      width: 150px
      margin: 10px
      border-radius: 6px
      border: 1px solid #fff
      line-height: 20px      


//----------------------
// Legal
//----------------------

#makeface-legal
  overflow: scroll
  padding: 16px 37px 65px 37px
  background: rgba(0,0,0,0.7)

  /#makeface-legal.mobile .container
    margin: 40px 0
    h3
      font-size: 10px
      line-height: 2em
      margin: 36px 0 20px 0
    p
      text-align: left
      margin: 0 0 16px 0
  /#makeface-legal.pc .container
    background: none
    h3
      font-size: 13px
      line-height: 2em
      margin: -44px 0 14px 0
    p
      text-align: left
  /#makeface-legal.pc .close-button
    left: 100%
    transform: translate(-45px, 0)

  