
section#makeface.modal.hidden
    h2 Morph your own face
    p Morph your own face
    #capture-button.button.big-button From Inner Camera
    #cameraroll-button.button.big-button From Camera-Roll
    .button.close-button Close

section#makeface-capture.modal.hidden
    h2 Capture User Face
    p 枠にカメラを合わせて、固定してください
    canvas#makeface-canvas
    .button.close-button Cancel


section#makeface-confirm.modal.hidden
    p これで良いですか？
    .face-confirm
    #ok-button.button OK
    #retake-button.button RETRY

section#makeface-retry.modal.hidden
    p 顔認識に失敗しました。他の写真をお試し下さい。
    .face-confirm
    #retake-button.button RETRY